h1,
p {
  font-family: Lato;
}

input[type='text'] {
  padding: 6px;
  border-radius: 10px;
  outline: none;
  color: black;
  font-size: small;
  border: 1px solid;
}
input[type='submit'] {
  background-color: green;
  color: antiquewhite;
  padding: 8px;
  border-radius: 8px;
  margin-left: 5px;
  border: none;
}
button {
  background-color: tomato;
  color: antiquewhite;
  border: none;
  border-radius: 4px;
}
